.Container {
  display: flex;
  height: 80vh;
  align-items: center;
  .ImgContainer {
    width: 50%;
    img {
      object-fit: contain;
      margin: 0 5%;
    }
  }
  .InfoContainer {
    width: 50%;
    align-self: center;
    .ToggleArea {
      width: 65%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      .ToggleBtn {
        background-color: var(--color-secondary);
        color: var(--color-white);
        width: 5rem;
        height: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0.5rem;
        border-radius: 1rem;
      }
    }
    p {
      width: 70%;
      text-align: center;
      align-self: center;
      margin-top: 2rem;
      font-size: 1.2rem;
      line-height: 2rem;
      opacity: 0.6;
    }
  }
}

// # Mobile
@media only screen and (max-width: 480px) {
  .Container {
    flex-direction: column;
    .InfoContainer {
      width: 100%;
      .ToggleArea {
        width: 85%;
      }
      p {
        width: 80%;
        opacity: 0.6;
      }
    }
    .ImgContainer {
      width: 100%;
    }
  }
}
