.container {
  background-color: var(--color-blue);
  border-style: none;
  border-radius: 1.5rem;
  padding: 1rem 3rem;
  width: fit-content;
  font-size: 1.8rem;
  color: var(--color-white);
  display: flex;
  align-items: center;
  cursor: pointer;
  .btnIcon {
    height: 2rem;
    width: 2rem;
  }
}
