.container {
  background-color: var(--color-tertiary);
  border-style: none;
  border-radius: 1.5rem;
  padding: 1rem 3rem;
  width: fit-content;
  font-size: 1.8rem;
  color: var(--color-white);
  cursor: pointer;
}
